.calendar {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary);

  &__table {
    table-layout: fixed;
    min-width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
  }

  &__head .calendar__day {
    background-color: var(--g100);
    // border-bottom: 1px solid var(--g200);
    font-weight: 600;
    color: var(--darkLow);
    cursor: default;
  }
  
  &__caption {
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: lighten(map-get($colors, "primary"), 25%);  
    border-bottom: 1px solid var(--primary);
    padding: .5em 1.25em;
  }

  & td {
    border-bottom: 1px solid var(--g200);
    border-right: 1px solid var(--g200);
  }

  & tbody tr:last-child td {
    border-bottom: none;
  }

  & td:last-child {
    border-right: none;
  }

  & tbody td:hover:not(.--not-current):not(.--today) {
    background-color: lighten(map-get($colors, "primary"), 55%);  
  }

  &__day {
    font-weight: 500;
    height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    width: 14.28571429%;

    cursor: pointer;
    transition: background-color .25s ease-in-out;

    &.--not-current {
      color: var(--g200);
      cursor: default;
    }

    &.--today {
      background-color: lighten(map-get($colors, "primary"), 25%);  
      font-weight: 600;
      font-size: 1.25em;
    }

    &.--selected {
      @extend .--today;
      box-shadow: inset 0 0 1px 3px darken(map-get($colors, "primary"), 5%);
    }

    &.--marked {
      position: relative;

      &::before {
        content: '\F09DF';
        @extend %icon-on-before;
        
        position: absolute;
        top: 0;
        right: 0;
        color: var(--accent);
      }

    }
  }
}