.card-deck {
  @extend %reset-list;

  display: grid;
  gap: 1.25em;

  & > li:not([class]) {
    display: flex;
  }

  &.--place-accordion {
    margin-bottom: 1.25em;
  }
  &.--size-xs {
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  }
}

@include media(sm) {
  .card-deck {

    // 2 
    &.--size-lg {
      grid-template-columns: repeat(auto-fit, minmax(26em, 1fr));
    }

    // 3 
    &.--size-md {
      grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
    }

    &.--size-sm {
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    }
  }
}