.card {
  @include box(100%);

  display: flex;
  flex-direction: column;
  gap: 1.25em;

  text-decoration: none;
  color: inherit;

  @extend %card-design;
  overflow: hidden;
  padding-bottom: 1.25em;
  box-sizing: border-box;

  &.--type-person-card {

    & .card__img {
      aspect-ratio: 1/1;
      object-position: top;
    }

    & .card__content {
      flex: auto;
      display: flex;
      flex-direction: column;
      gap: .875em;
    }

    & .card__title {
      margin: 0;
    }

    & .card__caption {
      margin: 0;
    }

    @include media(xs) {
      flex-direction: row;
      padding-bottom: 0;

      & .card__img {
        aspect-ratio: unset;
        object-position: unset;

        flex: 0 0 150px;
        min-width: 150px;
        max-width: 150px;
      }

      & .card__content {
        padding: 1.25em 1.25em 1.25em 0;
      }
    }
  }

  &.--type-sport-icon {
    align-items: center;
    text-align: center;
    box-shadow: none;
    padding: 0;

    &:hover {
      box-shadow: none;

      &>.card__icon {
        transform: translate3d(0, 3px, 0) scale(1.05);
      }
    }
  }

  &__icon {
    display: block;
    @include box(min(10vmax, 7em));
    transition: transform .25s ease-in-out;
  }

  &__title {
    margin: 0 1.25rem;
    font-size: 1.25em;
    font-weight: bold;
  }

  &__caption {
    margin: 0 1.25rem;
    font-size: 1.125em;
    color: var(--accent);

    &.--place-gto {
      font-weight: bold;
    }
  }

  &__content {
    box-sizing: border-box;
  }

  &__img {
    display: block;
    max-width: 100%;
    object-fit: cover;

    &.--ratio-half {
      aspect-ratio: 10/5.2;
    }
  }

  &__more-btn {
    margin: auto 1.25rem 0;

    font-weight: bold;
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
  }
}