.card {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.25em;

  text-decoration: none;
  color: inherit;

  @extend %card-design;
  overflow: hidden;
  padding-bottom: 1.25em;
  box-sizing: border-box;

  &.--type-sport-icon {
    align-items: center;
    text-align: center;
    box-shadow: none;
    padding: 0;

    &:hover {
      box-shadow: none;

      &>.card__icon {
        transform: translate3d(0, 3px, 0) scale(1.05);
      }
    }
  }

  &__icon {
    display: block;
    @include box(min(10vmax, 7em));
    transition: transform .25s ease-in-out;
  }

  &__title {
    margin: 0 1.25rem;
    font-size: 1.25em;
    font-weight: bold;
  }

  &__caption {
    margin: 0 1.25rem;
    font-size: 1.125em;
    color: var(--accent);

    &.--place-gto {
      font-weight: bold;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    object-fit: cover;

    &.--ratio-half {
      aspect-ratio: 10/5.2;
    }
  }

  &__more-btn {
    margin: auto 1.25rem 0;

    font-weight: bold;
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
  }
}