.search {
  display: flex;
  flex-wrap: wrap;
  gap: .875em;

  background-color: var(--g100);
  border-radius: 5px;
  padding: min(1.25vmax, 1.25em);
  box-sizing: border-box;

  &__field {
    flex: 1 0 17em;

    & .field__label {
      display: inline-block;
      font-size: .875em;
      color: var(--darkLow);
      padding-left: 1.25rem;
      padding-bottom: .375rem;
    }
    & input {
      border: 1px solid var(--g200);
      border-radius: 4px;
      padding-left: 1.25em;
      padding-right: 1.25em;
    }

    @include media(sm, max) {
      flex: auto;
    }
  }

  &__button {
    align-self: flex-end;
    margin-left: auto;
    border-radius: 4px;

    @include media(sm, max) {
      width: 100%;
    }
  }
}